.kaufman__triangle{
    position: absolute;
    height: 877px;
    width: 877px;
    top:0px;
    right:-210px;
    background-image: url(../../../images/kaufman-triangle.svg);
    background-size: cover;
  
  }